.centered {
  text-align: center;
}
.vertical-row-padding {
  padding-top: 2%;
  padding-bottom: 2%;
}

.last-row {
  padding-bottom: 20%;
}

.page-title  {
  color: #2a2a2a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

.processing-text  {
  color: #2a2a2a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}


.btn.btn-cs-light {
  font-family: Open Sans,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  background-color: #1251A2;
  color: #fff;
  border-radius: 0;
}

.btn.btn-cs-light:hover {
  font-family: Open Sans,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  background-color: #5291DF;
  color: #fff;
  border-radius: 0;
}

.form-label {
  color: #2a2a2a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
