.subtitle {
  font-family:  'Lato', sans-serif;
  font-weight: 600;
  /*font-size: 1em;*/
}

.btn.btn-mc-dark {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    border: 4px solid #3E4A5A;
    color: #3E4A5A;
    border-radius: 0px;
}

.save-report-row {
  background-color: #E6E6E6;
  margin-top: -1.5%;
}
