.vertical-row-padding {
  padding-top: 2%;
  padding-bottom: 2%;
}

.centered {
  text-align: center;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.btn.btn-cs-light {
  font-family: Open Sans,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  background-color: #1251A2;
  color: #fff;
  border-radius: 0;
}

.btn.btn-cs-light:hover {
  font-family: Open Sans,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  background-color: #5291DF;
  color: #fff;
  border-radius: 0;
}

.save-report-row {
  background-color: #E6E6E6;
  margin-top: -1.5%;
}
