.centered {
  text-align: center;
}

.justified {
  text-align: justify;;
}

.new-row {
  padding-top: 15%;
}

.second-row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.last-row {
  padding-bottom: 20%;
}

.title-row {
  background-color: #fafafa !important;
  -webkit-print-color-adjust: exact;
  padding-top: 2%;
  padding-bottom: 2%;
}

.report-title-row {
  background-color: #3E4A5A !important;
  -webkit-print-color-adjust: exact;
  padding-top: 2%;
  padding-bottom: 2%;
}

.page-title {
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;

}

.page-subtitle {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.number-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0;
  color: #E0601B;
}

.description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2a2a2a;
  font-size: 14px;
}

.subtitle {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.report-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.btn.btn-mc {
  font-family:  'Lato', sans-serif;
  color: #3E4A5A;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid white;
  border-radius: 0px;
}


.section-title-row {
  background-image:
   linear-gradient(
     to right,
     #3E4A5A, #6C87AB
   );
}


.leaflet-container{
  width: 60em;
  margin: 0 auto;
}


.table>thead>tr>th {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #6882A4 !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

.table>tbody>tr>td {
  text-align: center;
}



/*==========  Media Queries  ==========*/




    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }


    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {


    }


    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

      /* Extra Small Devices, Phones */
      @media only screen and (max-width : 320px) {

      }
