<div class="row">
  <div class="col-md-12">
    <app-address-selector></app-address-selector>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <select [(ngModel)]="selectedReport">
      <option>general_demographic_report</option>
      <option>longitudinal_population_report</option>
    </select>
  </div>
  <div class="col-md-6">
    <app-map></app-map>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/report_viewer/' + selectedReport]">ANALYZE</a>
  </div>
  <div class="col-md-12">
    {{researchArea.coordinates}}
  </div>
</div>
