<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class ="row">
        <div class="col-sm-8">
          <app-area-selector
            [reportSpecification]="reportSpecification$ | async"
            (activeAreaChange)="onAreaChange($event)"
            (activeNameChange)="onNameChange($event)">
          </app-area-selector>
        </div>
        <div class="col-sm-4">
          <app-radius-selector
            *ngIf="(reportSpecification$ | async).geoJSON.geometry.type == 'Point'"
            [reportSpecification]="reportSpecification$ | async"
            (activeRadiusChange)="onRadiusChange($event)">
          </app-radius-selector>
        </div>
      </div>
      <br>
      <div class="row vertical-row-padding">
        <div class="col-sm-12">
          <app-report-type-selector
            [reportSpecification]="reportSpecification$ | async"
            [reportTypes] = "reportTypes$ | async"
            (activeReportTypeChange)="onReportTypeChange($event)">
          </app-report-type-selector>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <app-map
        (polygonDrawn)="onPolygonDraw($event)"
        [reportSpecification$]="reportSpecification$">
      </app-map>
    </div>
  </div>
  <div class="row last-row">
    <div class="col-md-12 col-sm-12 centered">
      <button
        [disabled]="!(reportSpecification$ | async).geoJSON.properties.address"
        class="btn btn-cs-light"
        (click)="submit()">Analyze this Area</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
