<div class="container-fluid">
  <div class="row vertical-row-padding">
    <div class="col-sm-8">
      <div class ="row">
        <div class="col-sm-12">
          <!--<app-area-selector
            [activeArea]="area"
            (activeAreaChange)="onAreaChange($event)"
            [activeName]="name"
            (activeNameChange)="onNameChange($event)"
            [needsName]="needsName">
          </app-area-selector>-->
        </div>
      </div>
      <div class="row vertical-row-padding">
        <div class="col-sm-12">
          <div class="row vertical-row-padding">
            <div class="col-sm-4">
              <app-radius-selector
                *ngIf="showRadiusSelector"
                [reportSpecification]="reportSpecification$ | async"
                (activeRadiusChange)="onRadiusChange($event)">
              </app-radius-selector>
            </div>
            <div class="col-sm-8">
              <!--<app-report-type-selector
                [reportSpecification]="reportSpecification$ | async"
                [reportTypes] = "reportTypes$ | async"
                (activeReportTypeChange)="onReportTypeChange($event)">
              </app-report-type-selector>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <app-map (polygonDrawn)="onPolygonDraw($event)" ></app-map>
    </div>
  </div>
  <div class="row last-row">
    <div class="col-md-12 col-sm-12 centered">
      <button
        *ngIf="readyToAnalyze"
        class="btn btn-cs-light"
        (click)="submit()">Analyze this Area</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
