<div>
  <a (click)="selectedLevel = 'regular' "> Regular </a>
</div>

<div>
  <a (click)="selectedLevel = 'premium'  "> Premium </a>

</div>

<div>
  <a (click)="selectedLevel = 'unlimited' "> Unlimited </a>
</div>



<h1> Selected Level: {{selectedLevel}} </h1>

Paid: {{session.user.paid}}
<div *ngIf="needsToPay">
  Payment Happens Here
  <app-subscription-creator></app-subscription-creator>
</div>




<div *ngIf="readyToProceed">
  <a href="#" routerLink="/dashboard" routerLinkActive="active">Proceed to Dashboard</a>
</div>
