<h4 *ngIf="!editingName" class="subtitle-new-area">Current Address: {{activeName}}</h4> 
{{newName}}
<input 
  *ngIf="editingName" 
  type="text" 
  [value]="name"
  (input)="onNameInputChange(nameEditor.value)"
  #nameEditor/>
<button *ngIf="needsName && areaInputType == 'file'" (click)="editName()">Change Name</button>

<div *ngIf="(user.remainingLocations | async) > 0">
  <div *ngIf="areaInputType == 'places'">
    <div class="row">
      <div class="col-md-8">
        <app-address-selector
          [activePlace]="place"
          (activePlaceChange)="onPlaceChange($event)"></app-address-selector>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button (click)="areaInputType = 'file'">Upload a GeoJSON File</button>
      </div>
    </div>
  </div>
  <div *ngIf="areaInputType == 'file'">
    <div class="row">
      <div class="col-md-4">
        <input type="file" (change)="onFileChange($event)"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button (click)="areaInputType = 'places'">Pick an Address</button>
      </div>
    </div>
  </div>
</div>

<p class="form-text" *ngIf="(user.remainingLocations | async) <= 0">
  <i>You are out of location credits.  To add a new location
    <a routerLink="/credits/new" routerLinkActive="active">please purchase more.</a>
  </i>
</p>