<div class="row address-row">
  <div>
    <h4  class="subtitle-new-area">Current Address: {{reportSpecification.geoJSON.properties.address}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div
      *ngIf="(reportSpecification.geoJSON.geometry.type == 'Polygon') && !reportSpecification.geoJSON.properties.address">
      <form>
        Please Name the Polygon:
        <input
          type="text"
          #nameInput
        />
        <input type="submit" class="btn btn-cs-blue" (click)="setName(polygonName)" value= "Set Name"/>
      </form>
    </div>

    <app-address-selector
      *ngIf="reportSpecification.geoJSON.geometry.type == 'Point'"
      [activePlace]="place"
      (activePlaceChange)="onPlaceChange($event)"></app-address-selector>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <button class="btn btn-cs-clear" (click)="clearAddress()">Clear</button>
  </div>
</div>
