<app-navigation></app-navigation>
<div *ngIf="(user.remainingLocations | async) <= 3">
  You are out of location credits.  Please buy more to research more locations.

  <button routerLink="/credits/new">Buy More Credits</button>

</div>

<ul>
  <li *ngFor="let location of (user.locations | async)">
    <h4>{{location.place.formatted_address}}</h4>
    <button (click)="makeReportWithLocation(location.place)" class="btn btn-sm">Make New Report</button>
    <h6> Published Reports </h6>
    <ul>
      <li *ngFor="let report of (location.reports | values)">
        <a target="_blank" href="{{report.publicUrl}}">{{report.reportName}}</a>
      </li>
    </ul>
  </li>
</ul>

<button (click)="signOut()">Sign Out</button>
