<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row report-title-row">
    <div class="col-sm-2 col-sm-offset-5 centered">
      <h3 class="dashboard-subtitle">Dashboard</h3>
    </div>
    <div class="col-sm-3 col-sm-offset-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Search" aria-describedby="basic-addon2" [(ngModel)]="search">
        <span class="input-group-addon btn btn-mc" id="basic-addon2">Search</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row vertical-row-padding">
    <div class="col-md-4"
         *ngFor="let location of (user.locations | async | lfilter : 'address' : search)">
     <div class="col-md-12 location-table">
       <table class="table table-condensed">
        <thead>
          <tr>
            <th>
              <div class="row">
                <div class="col-sm-10">
                  <h5 class="table-title">{{location.name}}</h5>
                </div>
                <div class="col-sm-2 centered">
                  <h5 class="table-title">
                    <i
                      (click)="makeReportWithLocation(location)"
                      class="fa fa-plus-circle new-tooltip" aria-hidden="true"></i>
                  </h5>
                </div>
              </div>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let report of (location.reports | values)">
            <td>
              <div class="row" >
                <div class="col-sm-7"><p class="table-text">{{report.reportName}}</p></div>
                <div class="col-sm-3"><p class="table-text"><small>{{report.createdAt | date:'shortDate'}}</small></p></div>
                <div class="col-sm-2">
                  <a target="_blank" href="{{report.publicUrl}}"><p class="table-text">View</p></a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
