.second-row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.last-row {
  padding-bottom: 20%;
}

.input-group-addon {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #6882A4;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #6882A4;
  border-radius: 0px;
}

.report-title-row {
  background-color: #3E4A5A !important;
  -webkit-print-color-adjust: exact;
  padding-top: 2%;
  padding-bottom: 2%;
}


.location-table {
  background-color: #F3F3F3;
  padding: 2%;
  margin-bottom: 5%;
}


.table {
  border: 1px solid #d8d8d8;
}

.table-title {
  color: #fff;
  font-family:  'Lato', sans-serif;
  font-weight: 300;
}

.table-text {
  color: #2a2a2a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.dashboard-text  {
  color: #fff;
  font-family:  'Lato', sans-serif;
  font-weight: 300;
}

.dashboard-subtitle  {
  color: #fff;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

.form-control {
  border-radius: 0;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
/*height: 30px;*/

/*text-align: left;*/
}

tbody {
  height: 120px;
  overflow-y: auto;
  background-color: #fff;
}

thead {
  background-color: #3E4A5A;
  border-bottom: none;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table>tbody>tr>td {
  border-bottom: 1px solid #ddd;
}
