#map {
  height: 180px;
}



/*==========  Media Queries  ==========*/
/*
    @media print {
      .map-size {
        height: 200px;
      }
    }*/

    /* Large Devices, Wide Screens */
    /*@media screen and (max-width : 1200px) {
      .map-size {
        height: 350px;
      }
    }*/

    /* Medium Devices, Desktops */
    /*@media screen and (max-width : 992px) {
      .map-size {
        height: 200px;
      }
    }*/

    /* Small Devices, Tablets */
    /*@media screen and (max-width : 768px) {
      .map-size {
        height: 150px;
      }

    }*/

    /* Extra Small Devices, Phones */
    /*@media screen and (max-width : 480px) {
      .map-size {
        height: 150px;
      }
    }*/

      /* Extra Small Devices, Phones */
      /*@media screen and (max-width : 320px) {
        .map-size {
          height: 100px;
        }
      }*/
