<div class="input-group">
  <input [(ngModel)]="search" type="text" class="form-control" placeholder="Find a report">
  <span class="input-group-btn">
   <button class="btn btn-cs-blue" type="button">Find</button>
  </span>
</div>
<div class="row table-border">
  <div class="col-md-6 col-sm-6 col-xs-6 standard-height table-border-preview padding-none-right padding-none-left">
    <table class="table table-hover">
      <tbody>
        <tr
            *ngFor="let reportType of (reportTypes | reportTypeFilter  : search)"
            (click)="setReportType(reportType)"
            [ngClass]="{active: activeReportType == reportType}"
            class="hoverable">
          <td>{{reportType.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{reportSpecification}}
  <!--<div class="col-md-6 col-sm-6 col-xs-6 standard-height">
    <h4 class="subtitle-new-area">{{reportSpecification.reportType.name}}</h4>
    <p class="form-text">
      {{reportSpecification.reportType.description}}
    </p>
  </div>-->
</div>
