<div class="row categories-border">
  <app-category-filter
    imageSource= 'https://s3.amazonaws.com/cartoscope-assets/assets/everyone_people.png'
    categoryLabel= 'Journalists & Scientists'
    (click) = 'category = "for_everybody"'
    [active]="category == 'for_everybody'">
  </app-category-filter>
  <app-category-filter
    imageSource= 'https://s3.amazonaws.com/cartoscope-assets/assets/small_business.png'
    categoryLabel= 'Business'
    (click) = 'category = "business"'
    [active]="category == 'business'">
  </app-category-filter>
  <app-category-filter
    imageSource= 'https://s3.amazonaws.com/cartoscope-assets/assets/housing.png'
    categoryLabel= 'Real Estate'
    (click) = 'category = "real_estate"'
    [active]="category == 'real_estate'">
  </app-category-filter>
  <app-category-filter
    imageSource= 'https://s3.amazonaws.com/cartoscope-assets/assets/economic_dev.png'
    categoryLabel= 'Government'
    (click) = 'category = "government"'
    [active]="category == 'government'"
    >
  </app-category-filter>
</div>
<div class="row table-border">
  <div class="col-md-6 col-sm-6 col-xs-6 standard-height table-border-preview padding-none-right padding-none-left">
    <table class="table table-hover">
      <tbody>
        <tr
            *ngFor="let reportType of (reportTypes | reportTypeFilter  : search)"
            (click)="setReportType(reportType)"
            [ngClass]="{active: reportSpecification.reportType == reportType}"
            class="hoverable">
          <td>{{reportType.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 standard-height">
    <h4 class="subtitle-new-area">{{reportSpecification.reportType.name}}</h4>
    <p class="form-text">
      {{reportSpecification.reportType.description}}
    </p>
  </div>
</div>
<div class="input-group">
  <input [(ngModel)]="search" type="text" class="form-control" placeholder="Find a report">
  <span class="input-group-btn">
   <button class="btn btn-cs-blue" type="button" style="border: 3px solid #0A2E5C;">Find</button>
  </span>
</div>
