<app-navigation></app-navigation>
<div class="container-fluid" id="landing-page-header">
  <div class="row row-padding-top">
    <div class="col-md-6">
      <br />
      <h1 class="page-title-white centered">Location Intelligence <br /> for Everyone</h1>
      <h2 class="page-subtitle-white centered">Point-and-Click, Web-based Software for Simple, Fast Location Analysis</h2>
      <br />
      <br />
      <p class="page-text-white">Cartoscope reduces the time and effort required to perform complex location analysis by an order of magnitude. Drop your pin, click a button.  Simple. Receive your ready-to-distrbute, data-driven infographic report. You don't need any technical background to do it. The bottom line is a more powerful product at less cost.
      </p>
      <div class="row">
        <div class="col-md-12 centered">
          <a pageScroll  [pageScrollDuration]="1000" href="#sign-up">Sign Up to Get Started</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <br />
      <div class="video-flex">
        <div class="video">
          Video will go here
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="customers">
  <div class="row row-padding-top">
    <div class="col-md-12 centered">
      <h1 class="page-title">Some of Our Customers</h1>
    </div>
  </div>
  <div class="row vertical-row-padding">
    <div class="customers-flex">
      <div class="customer-box">
        <img src="http://placehold.it/300x150">
        <p class="page-text centered">
          A compnay's name
        </p>
      </div>
      <div class="customer-box">
        <img src="http://placehold.it/300x150">
        <p class="page-text centered">
          Some Other Company
        </p>
      </div>
      <div class="customer-box">
        <img src="http://placehold.it/300x150">
        <p class="page-text centered">
          I am a Company
        </p>
      </div>
    </div>
  </div>
  <div class="row vertical-row-padding">
    <div class="customers-flex">
      <div class="customer-box">
        <img src="http://placehold.it/300x150">
        <p class="page-text centered">
          A compnay's name
        </p>
      </div>
      <div class="customer-box">
        <img src="http://placehold.it/300x150">
        <p class="page-text centered">
          Some Other Company
        </p>
      </div>
      <div class="customer-box">
        <img src="http://placehold.it/300x150">
        <p class="page-text centered">
          I am a Company
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="sign-up" name="sign-up">
  <div class="row vertical-row-padding">
    <div class="col-md-12 centered">
      <h1 class="page-title">Sign Up Now</h1>
    </div>
  </div>
  <div class="row vertical-row-padding">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin" method="POST" action="#" role="form">
        <div *ngIf="errorMessage!=null" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <div class="form-group">
          <label class="control-label form-label" for="signupName">Name</label>
          <input id="signupName" type="text" maxlength="50" class="form-control"
                 [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label class="control-label form-label" for="signupEmail">Email</label>
          <input id="signupEmail" type="email" maxlength="50" class="form-control"
                 [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label class="control-label form-label" for="signupPassword">Password</label>
          <input id="signupPassword" type="password" maxlength="25" class="form-control"
                 placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.password"
                 [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <button (click)="onRegister($event)" id="signupSubmit" type="submit" class="btn btn-cs-yellow">
            Sign Up
          </button>
        </div>
        <hr>
        <p class="form-text">Already have an account? <a [routerLink]="['/users/login']"> <i class="fa fa-user" aria-hidden="true"></i> Login</a></p>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
