@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

a {
  color: #6882A4;
}

#landing-page-header {
  background-image: linear-gradient(#01132A, #2B5A93);
  height: 100vh;
  margin-top: -20px;
}

/*#customers {
  height: 80vh;
}*/

#sign-up {
  background-color: #fafafa;
  height: 80vh;
}

.centered {
  text-align: center;
}
.vertical-row-padding {
  padding-top: 2%;
  padding-bottom: 2%;
}

.row-padding-top {
  padding-top: 9%;
}

.last-row {
  padding-bottom: 20%;
}

.page-title  {
  color: #0A2E5C;
  font-family: 'Lato', serif;
  font-weight: 400;
  /*text-transform: uppercase;*/
  margin-top: 0;
}

.page-text {
  font-family:  'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #2a2a2a;
  text-align: justify;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.page-title-white  {
  font-family:  'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.page-subtitle-white  {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}

.page-text-white {
  font-family:  'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-align: justify;
}

.form-text  {
  color: #2a2a2a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
}

.btn.btn-cs-yellow {
  font-family: Open Sans,sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  background-color: #DDA838;
  color: #fff;
  border-radius: 0;
}

.btn.btn-cs-yellow:hover {
  font-family: Open Sans,sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  background-color: #F4AA0D;
  color: #fff;
  border-radius: 0;
}


.form-label {
  color: #2a2a2a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.video-flex {
  display: flex;
  justify-content: center;
}

.video {
  /*height: 300px;
  width: 600px;
  background-color: #E0E2E5;*/
}

.customers-flex {
  display: flex;
  justify-content: space-around;
}

.customer-box {
  padding: 1%;
  background-color: #fafafa;
}

.alert-danger {
  border-redius: 0px;
  border-color: none;
  color: #fff;
  background-color: #a01a1a;
  font-family:  'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}


/*Media Queries*/
/*==========  Media Queries  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }


    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

      .page-title-white  {
        font-size: 20px;
      }

      .page-subtitle-white  {
        font-size: 16px;
      }

      .page-text {
        font-size: 12px;
      }

    }
