<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!choice">
        <h3 class="page-title">Buy 10 Credits</h3>
        <h3 class="form-text">$150</h3>
        <button *ngIf="!loading" (click)="buy(10)" class="btn btn-mc-dark">Buy Now</button>
        <h3 *ngIf="loading">Purchasing...</h3>
        <!-- <h1>Buy 25 Credits</h1>
        <h3>$250</h3> -->
      </div>
    </div>
  </div>
</div>


<div *ngIf="choice">
  <app-subscription-creator [choice]="choice"></app-subscription-creator>
</div>

<app-footer></app-footer>
