<h4 class="subtitle-new-area">Pick a Mile Radius</h4>
<br />
{{researchArea.radius | async}}
<div class="row second-row">
  <div class="col-md-4 col-md-offset-1 border-right">
    <div class="row">
      <div (click)="researchArea.radius = 1"><h4 class="form-label centered">1 Mile </h4></div>
    </div>
    <div class="row border-top">
      <div (click)="researchArea.radius = 5"><h4 class="form-label centered">5 Mile</h4> </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div (click)="researchArea.radius = 2"><h4 class="form-label centered">2 Mile</h4> </div>
    </div>
    <div class="row border-top">
      <div (click)="researchArea.radius = 10"><h4 class="form-label centered">10 Mile</h4></div>
    </div>
  </div>
</div>
