<div class="row vertical-row-padding">
  <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1 border-right">
    <div class="row">
      <div class="quadrant" [ngClass]="{active: 1 == activeRadius}" (click)="setRadius(1)"><h4 class="form-label centered">1 Mile </h4></div>
    </div>
    <div class="row border-top">
      <div class="quadrant" [ngClass]="{active: 5 == activeRadius}" (click)="setRadius(5)"><h4 class="form-label centered">5 Mile</h4> </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="row">
      <div class="quadrant" [ngClass]="{active: 2 == activeRadius}" (click)="setRadius(2)"><h4 class="form-label centered">2 Mile</h4> </div>
    </div>
    <div class="row border-top">
      <div class="quadrant" [ngClass]="{active: 10 == activeRadius}" (click)="setRadius(10)"><h4 class="form-label centered">10 Mile</h4></div>
    </div>
  </div>
</div>
