.centered {
  text-align: center;
}

.subtitle-new-area {
  font-family: 'Lato',sans-serif;
  color: #2a2a2a;
  font-weight: 400;
}

.border-right {
  border-right: 2px solid #ddd;
}

.border-top {
  border-top: 2px solid #ddd;
}

.active{
  color: #316fc2;
  background-color: #F1F1F1;
}

.form-label:hover {
  cursor: pointer;
}

.quadrant {
  padding-top: 5px;
  padding-bottom: 5px;
}
