<div class="container-fluid">
  <div class="row report-title-row">
    <div class="col-sm-2 col-sm-offset-5 centered">
      <h3 class="dashboard-subtitle">Dashboard</h3>
    </div>
    <div class="col-sm-3 col-sm-offset-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Search" aria-describedby="basic-addon2" [(ngModel)]="search">
        <span class="input-group-addon btn btn-mc" id="basic-addon2">Search</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row vertical-row-padding">
    <app-location-list 
      [locations]="locations$ | async"
      [filterQuery]="search"
      (setReportSpecification)="setReportSpecificationTo($event)"></app-location-list>
  </div>
</div>
<app-footer></app-footer>
